			html,
			body {
				width: 100%;
				height: 100%;
			}
			.mui-bar-nav ~ .mui-content .mui-pull-top-pocket{
			  top: 180px !important;
			}
			.cnt {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			.content {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				font-family: "微软雅黑";
				color: #333333;
				background: #fff;
			}
			/*头部*/
			
			header {
				width: 100%;
				height: 1rem;
				/*background: #3889e5;*/
				color: #333;
				border-bottom: 2px solid #Fff;
				/*box-shadow: 0 2px 3px 3px;*/
				font: 0.28rem "微软雅黑";
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.returns{
				position: absolute;
				width: 0.8rem;
				/*height: 100%;*/
				/*top: 0;*/
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.returns span{
				display:block;
				border-left: 0.03rem solid #FFFFFF;
				border-bottom: 0.03rem solid #FFFFFF;
				width: .22rem; 
				height: .22rem;
				transform: rotate(45deg);
			}
			header .save {
				padding: 3px;
				border-radius: .1rem;
				border: 1px solid #fff;
				top: 3%;
				margin-top: -0.11rem;
				display: block;
				position: absolute;
				right: 0.3rem;
				font-size: .25rem;
			}
			/*主体内容*/
			.main {
				width: 100%;
				flex: 1;
				overflow-y: auto;
				background: ;
			}
			/*尾部*/
			
	footer {
		width: 100%;
		height: 1rem;
		display: flex;
		background: #ffffff;
	}
	
	footer li {
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #333333;
		font: 0.2rem "微软雅黑";
	}
	.double{
		border-top:solid#f7f7f7 1px;
    	}
			/*<!--列表2-->*/
	#list_info{
	}
   .logo_info{
	   width: 100%;
	   background: #f2f2f2;
   }
   .lo_bor{
		background: #FBFBFB;
		position: relative;
		height: 1rem;
   }
   .list_logo{
	   width: 45%;
	   float: left;
	   margin-left: 3.5%;
	   margin-bottom: .4rem;
	}
   .logo_top{
	   width: 100%;
	   height: 2.5rem;
	   overflow: hidden;
	   border-radius: 0.05rem;
   }
   .logo_top>img{
		width: 100%;
   }
   .logo_info>p{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 2.8rem;
		margin-left: 6px;
   }
   .logo_btm{
	   width: 93%;
	   justify-content: space-between;
	   position: absolute;
	   bottom: 5px;
	   left: 5px;
   }
   .logo_btm>span:nth-child(1){
		color:#d82b2b;
		font-size: .27rem;
   }
   .logo_btm>span:nth-child(2){
		justify-content: flex-end;
		color:#999;
		font-size:.2rem;
   	/*margin-left: .4rem;*/
   }
   .tit{
	   margin-left: .1rem;
	   font-size: .25rem;
	   /* margin-top: .2rem; */
	   padding-top: .1rem;
   }
			