	html,body{
    		width: 100%;
    		height: 100%;
    	}
    .cnt{
    	display: flex;
    	justify-content:center;
    	align-items: center;
    }		
    	.content{
    		width: 100%;
    		height: 100%;
    		display: flex;
    		flex-direction: column;
    		font-family: "微软雅黑";
    		color: #333333;
    		font-size: .25rem;
    		background: #fff;
    	}
    	/*头部*/
    	#header{					
		width: 100%;
		height: 0.9rem;
		display: flex;
		justify-content: center;
		align-items: center;
	    font-size: 0.3rem;
	    background: #fff;
	    color: #333;
	    position: relative;
	    font-family: "微软雅黑";
	} 
    	.returns{
		position: absolute;
		width: 0.8rem;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.returns span{
		display:block;
		border-left: 0.03rem solid #333;
		border-bottom: 0.03rem solid #333;
		width: .22rem; 
		height: .22rem;
		transform: rotate(45deg);
	}
    	#header .save{
		top: 45%;
		margin-top: -0.11rem;
		display:block;
	    position: absolute;
	    right: 0.3rem;			
		font-size: .25rem;			
	}
    	/*主体内容*/
    	.main{
    		width: 100%;
    		flex: 1;
    		overflow-y: auto;
    		background: ;
    	}
    		/*尾部*/
    	footer{
    		width: 100%;
    		height: 1rem;
    		display: flex;
    		background: #ffffff;
    	}
    	footer li{
    		width:30%;
    		height: 100%;
    		display: flex;
    		flex-direction: column;
    		justify-content: center;
    		align-items: center;
    		color:#333333;
    		font: 0.2rem "微软雅黑";
    	} 
    	.double{
		border-top:solid#f7f7f7 10px;
    	} 
    	/*--------消息弹框 ------*/
	#all {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		/*display: flex;
       	justify-content: center;
       	align-items: center;*/
		position: fixed;
		left: 0;
		top: 0;
		overflow: hidden;
		z-index: 2;
		/*display: none;*/
	}
	
	.banner {
		width: 100%;
		position: fixed;
		margin: 70% 0%;
	}
	
	.build {
		width: 100%;
		height: 3rem;
		display: flex;
		justify-content: center;
	}
	
	.build-a {
		width: 90%;
		height: 100%;
		border-radius: .15rem;
		border: solid#808080 1px;
		background: #FFFFFF;
		font-size: .25rem;
	}
	
	.btn_l_r {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: .6rem;
	}
	
	.btn_l_r>span {
		width: 1.4rem;
		text-align: center;
		line-height: .48rem;
		border: solid #488ac2 1px;
		border-radius: .25rem;
		color: #488ac2;
		font-size: .22rem;
	}